<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="happycodeteam.ieasyhome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/house"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="happycodeteam.ieasyhome.activity.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="happycodeteam.ieasyhome.activity.SettingActivity"></activity>
        <activity android:name="happycodeteam.ieasyhome.activity.LoginActivity"></activity>
        <activity android:name="happycodeteam.ieasyhome.activity.RegisterActivity"></activity>
        <activity android:name="happycodeteam.ieasyhome.activity.MainActivity"></activity>
        <activity android:name="happycodeteam.ieasyhome.activity.ServiceActivity"></activity>
        <activity android:name="happycodeteam.ieasyhome.activity.ConfigureServiceActivity"></activity>
        <activity android:name="happycodeteam.ieasyhome.activity.HardwareActivity"></activity>
        <activity android:name="happycodeteam.ieasyhome.activity.ConfigureHardwareActivity"></activity>
        <activity android:name="happycodeteam.ieasyhome.activity.WebViewActivity"></activity>
    </application>

</manifest>
